
.navbar{
    background-color: #000 !important;
}
.navbar{
    border-style: solid;
    border-color: #ffaf2a;
}

.navbar .navbar-brand{
    color : #FFF;
}
.navbar .navbar-brand:hover{
    color : #FFF;
}
.navbar .navbar-nav li a{
    color : #ffaf2a !important;
}
.navbar .nav-item .dropdown-menu{
    background-color: black;
}
.navbar .nav-item .dropdown-menu .dropdown-item{
    color : #FFF !important;
}
.navbar .nav-item .dropdown-menu .dropdown-item:hover{
    color : #FFF !important;
    background-color: black;
    opacity: 0.7;
}
.navbar-toggler-icon{
    background-color: #b4b4b4 ;
    opacity: .9;
    
}
